# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.


# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
.Trash-0

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
yamly.pub
plex.config
*.log
y
y.pub
google_assistant.json
